body{
  padding: 50px;
  background:url("../images/slider-image1.jpg");
}
.container{
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;

}
.form-group{
  margin-bottom: 30px;


}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
.description{
  text-transform: uppercase;
  font-weight: bold;
  color:blueviolet;
  letter-spacing: 2px;
  font-size: 14px;
}
.title-m{
  font-size: 35px;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
  word-spacing: 0px;

}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: green;
}
